<p id="notice"><%= notice %></p>

<div id = "chatbox">
   <script src="http://thejakeharding.com/ghostwriter/releases/latest/ghostwriter.js"></script>
   <textarea rows='4' cols='50' class="haunt-me" >
   </textarea> 
   <input type="text" class="user-in">
   <button type="button" id="bla">Send</button>
   <script>
      var count =0;
      var increment =function(){
         count +=1;
      };
   </script>
   <script>
       var haunt0 = ghostwriter.haunt({
           input: '.haunt-me'
           , interval: 50
           , manuscript: [
           'How do I refund a transaction with Square?\n'
	]});
       
	var haunt1 = ghostwriter.haunt({
           input: '.haunt-me'
           , interval: 100
           , manuscript: [
           'Hi thanks for your question\nDo you know how to sign in to your online Square dashboard?\n',
            ]});
        
	var haunt2 = ghostwriter.haunt({
       	     input: '.haunt-me'
             , interval: 50
             , manuscript: [
             'Yes!\n']});
             
        var haunt3 = ghostwriter.haunt({
       	     input: '.haunt-me'
             , interval: 100
             , manuscript: [
             'Ok cool, go to the transactions tab and press Issue Refund.\n'
              ]});
	
    $("#bla").click(function(){ 
         if(count === 0) {haunt0.start();haunt0.stop();haunt1.start();}
         if(count === 1) {haunt2.start();haunt2.stop();haunt3.start();}
         var copy = ghostwriter.haunt({
           input: '.user-in', manuscript:[ghostwriter.selectAll,ghostwriter.backspace]});
         increment();
         copy.start();
     });
    </script>
</div>

<div id = "info">
<p>
  <strong>Name:</strong>
  <%= @expert.name %>
</p>

<p>
  <strong>Imgfile:</strong>
  <%=image_tag @expert.imgfile%>
</p>

<p>
  <strong>Rating:</strong>
  <%= @expert.rating %>
</p>
</div>

<% link_to 'Edit', edit_expert_path(@expert) %> |
<% link_to 'Back', experts_path %>
