<p id="notice"><%= notice %></p>

<div id = "chatbox">
   <script src="http://thejakeharding.com/ghostwriter/releases/latest/ghostwriter.js"></script>
   <textarea rows='4' cols='10' class="haunt-me" >
   </textarea> 
   <script>
       var haunt = ghostwriter.haunt({
        input: '.haunt-me'
      , interval: 100
      , manuscript: [
          'hi I have a question',
           ghostwriter.enter,
           '\nHere is your answer'
        ]
      });
     haunt.start();
    </script>
</div>

<div id = "info">
<p>
  <strong>Name:</strong>
  <%= @expert.name %>
</p>

<p>
  <strong>Imgfile:</strong>
  <%= @expert.imgfile %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @expert.rating %>
</p>
</div>

<% link_to 'Edit', edit_expert_path(@expert) %> |
<% link_to 'Back', experts_path %>
