<p id="notice"><%= notice %></p>

<div id = "chatbox">
   <input type="text"> 
</div>

<div id = "info">
<p>
  <strong>Name:</strong>
  <%= @expert.name %>
</p>

<p>
  <strong>Imgfile:</strong>
  <%= @expert.imgfile %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @expert.rating %>
</p>
</div>

<% link_to 'Edit', edit_expert_path(@expert) %> |
<% link_to 'Back', experts_path %>
