<p id="notice"><%= notice %></p>
<div class="container">
<div class="page-header">
<h1>How do I find out what products are selling?</h1>
</div>
<div class="row">
<div class="col-md-6">
<div id = "chatbox">
   <script src="http://thejakeharding.com/ghostwriter/releases/latest/ghostwriter.js"></script>
   <textarea rows='10' cols='50' class="haunt-me" >
   </textarea><br> 
   <div class="search">
	<textarea rows='2' cols='50' class="user-in">
	</textarea>
	<button type="button" id="bla">Send</button>
   </div>
</div>
</div>
<div class="col-md-2">
  <%=image_tag @expert.imgfile%>
</div>
<div class="col-md-4">

<div id = "info">
  <a><%= @expert.name %></a> <br>
  <a><% for i in 0..@expert.rating %>
    <%= raw "o " %>
  <% end %> </a> <br>
   <a>Local Expert</a>
</div>
</div>
</div>
   <script>
      var count =0;
      var increment =function(){
         count +=1;
      };
   </script>
   <script>
       var haunt0 = ghostwriter.haunt({
           input: '.haunt-me'
           , interval: 50
           , manuscript: [
           'Hello, what point of service or cashier app do you use?\n'
	]});
       
	var haunt1 = ghostwriter.haunt({
           input: '.haunt-me'
           , interval: 100
           , manuscript: [
		'Give me a sec...\nOK there\'s an app you can download for clovercalled Reporting. Do you know how to get to the Clover App Store?\n'
            ]});
        
	var haunt2 = ghostwriter.haunt({
       	     input: '.haunt-me'
             , interval: 50
             , manuscript: [
             'It\'s here: www.clover.com/appmarket/apps/8JF5V99HE1SVG\n']});
             
        var haunt3 = ghostwriter.haunt({
       	     input: '.haunt-me'
             , interval: 100
             , manuscript: [
             'No problem :)'
              ]});
	
    $("#bla").click(function(){ 
         if(count === 0) {haunt0.start();}
         if(count === 1) {haunt1.start();}
         if(count === 2) {haunt2.start();}
         if(count === 3) {haunt3.start();}
         var copy = ghostwriter.haunt({
           input: '.user-in', manuscript:[ghostwriter.selectAll,ghostwriter.backspace]});
         increment();
         copy.start();
     });
    </script>
