<div class="whitespace container baby">
<h1>Tutorials</h1>
<div class="row">
<div class="col-md-4">
<a>by Category</a></div>
<div class="col-md-4">
<a>by Rating</a></div>
<div class="col-md-4">
<a>by Something Else</a></div>
</div> 
<% @tutorials.each do |tutorial| %>
<div class="row">
<div class="col-md-2">
<%= image_tag("squarw-01.png") %>
</div>
<div class="col-md-8">
        <%= link_to(tutorial) do %>
	<%= tutorial.title %> <br>
	<% end %>
	Rating: o o o o o
</div>
<div class="col-md-2">
<a>By Meg Sivad
</div>
    <% end %>
</div>
<br>

</div>
