<div class="whitespace container baby">
<h1>Tutorials</h1>
<div class="row">
<div class="col-md-4">
<a>by Category</a></div>
<div class="col-md-4">
<a>by Rating</a></div>
<div class="col-md-4">
<a>by Something Else</a></div>
</div> 
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<% @tutorials.each do |tutorial| %>
        <%= tutorial.title %>
        <%= link_to 'Show', tutorial %><br>
	Rating: o o o o o
    <% end %>
</div>
<div class="col-md-2">
<a>By Meg Sivad
</div>
</div>
<br>

<%= link_to 'New Tutorial', new_tutorial_path %>
</div>
