<!-- Nav bar -->

<div class="container force-white">
<h1>Hello! Got a question about your business?</h1>
<%= form_tag do %>
<input type="text" autocomplete="true" placeholder="How do I use Square?"> </input><br>
<input type="submit" value="Submit">
<% end %>
</div>
