$asset-path:"/assets";


.force-white  {
	background-color: white !important;
	color: #333333 !important;
}
body {
	color: #333333 !important;
}
nav {
	background-color: #06BEE8 !important;
	color: white !important;
}

.nav a{
   
}

#ask{
		background-image: url(#{$asset_path}/ask-an-expert.svg) !important;

}
.force-gray {
	color: #333333 !important;
	text-align: center;
}

h1.pull-left {
	width: 100%;
	text-align: left;
}

.whitespace {
	margin-top: 5%;
}
input[type="submit"] {
background-image: url(#{$asset_path}/ask.svg) !important;
background-repeat: no-repeat;
height: 65px;
}
