.force-white  {
	background-color: white !important;
	color: #333333 !important;
}
body {
	color: #333333 !important;
}
nav {
	background-color: #06BEE8 !important;
	color: white !important;
}
#ask{
	background-image: url(<%=asset_path 'ask-an-expert.svg' %>);

}
h1.force-gray {
	color: #333333 !important;
}

