$asset-path:"/assets";


.force-white  {
	background-color: white !important;
	color: #666666 !important;
}
body {
	color: #666666 !important;
	font-style: italic;
	font-family: Calibri, sans serif !important;
}

.baby {
	width: 40%;
}

.force-blue {
	background-color: #06BEE8 !important;
	color: white !important;
	height: auto;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.force-blue a{
	display: block;
	height:50px;
	text-indent: -9999px;
	padding-right: 15px;   
}
a.active{
	visibility: hidden;
}

a:hover{
	opacity: 0.3 !important;
}

#key_1{
        background-image: url(#{$asset_path}/logo-01.png) !important; 
	width:180px;
	background-repeat: no-repeat;
	margin-left:20px;
	margin-top:3px;
	padding-right: 20px;
}

#key_2.active{
	background : clear !important;
        background-image: url(#{$asset_path}/ask-an-expert-sel.svg) !important; 
        background-size: contain;
	background-repeat: no-repeat;
}
#key_2{
        background-image: url(#{$asset_path}/ask-ex-01.png) !important; 
        background-size: contain;
        background-repeat: no-repeat;
	width:180px;
}

#key_3{
        background-image: url(#{$asset_path}/tutorials-01.png) !important; 
        background-size: contain;
        BACKGROUND-REPEAT: NO-REPEAT;
	width: 120px;

}

#key_3.active{
	background : clear !important;
        background-image: url(#{$asset_path}/tutorial-sel.svg) !important; 
        background-size: contain;
	background-repeat: no-repeat;

}
#key_5{
        background-image: url(#{$asset_path}/pop-q-01.png) !important; 
        background-size: contain;
        background-repeat: no-repeat;
	width:200px;
}

#key_5.active{
	background : clear !important;
        background-image: url(#{$asset_path}/pop-questions-sel.svg) !important; 
        background-size: contain;
	background-repeat: no-repeat;
}

.force-gray {
	color: #666666 !important;
	text-align: center;
}

h1.pull-left {
	margin-left: 15%;
	width: 100%;
	text-align: left;
	font-size:80px;
}

h2{
	font-size:70px;
}

.whitespace {
	margin-top: 5%;
}

#q {
	width: 70%;
	line-height: 35px;
}

input[type="submit"] {
background: transparent;
background-image: url(#{$asset_path}/ask.svg) !important;
background-repeat: no-repeat;
height: 65px;
width: 150px;
border: none;
color: transparent;
text-align: right;
margin-top: 5%;
}





#bla{
	background: transparent;
	border: none;
	background-image: url(#{$asset_path}/submit-01.png) !important;
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
}

